body{
    margin: 0px;
}
header{
    background-color: dimgray;
    color: yellow;
    height: 20vh;
    width: 100%;
}

#content{
    overflow: auto;
}
aside{
    background: lightgray;
    padding: 0px;
    height: 80vh;
    width: 15vw;
}

#left-side{
    float: left;
}

#right-side{
    float: right;
}

footer{
    /* clear: none;  */
    position: absolute;
    top: 90vh; left: 15vw;
    background-color: black;
    color: white;
    height: 10vh;
    width: 70vw;
}